header {
  text-align: center;
  font-size: 80px;
  font-family: "Homesweet", sans-serif;
  color: fuchsia;
  max-width: 100%;
}

.words {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 5% 10% 20% 30% 20% 10% 5%;
  grid-template-rows: 50px;
  /* border: solid black; */
}

.intro {
  grid-area: 1/2/2/3;
  text-align: center;
  font-size: 20px;
  /* border: solid black; */
}

.score {
  grid-area: 1/6/2/7;
  text-align: center;
  font-size: 20px;
  /* border: solid black; */
}

#playername {
  grid-area: 1/4/2/5;
  border-color: aquamarine;
}

body {
  text-align: center;
  background-image: url("https://wallpapercave.com/dwp2x/aP75xr3.jpg");
  max-width: 100%;
}

#btn {
  grid-area: 1/5/2/6;
  margin-top: 20px;
}
