header {
  text-align: center;
  font-size: 50px;
  font-family: "Waltograph UI", sans-serif;
  color: black;
  max-width: 100%;
  max-height: 100%;
  padding: 50px;
}

body {
  text-align: center;
  background-image: url("https://getwallpapers.com/wallpaper/full/3/c/1/399285.jpg");
  background-attachment: fixed;
  background-size: 90%;
  background-position: center;
}

.words {
  display: grid;
  grid-template-columns: 15% 5% 15% 5% 20% 5% 15% 5% 15%;
  grid-template-rows: 50px;
  font-family: "New Walt Disney Font", sans-serif;
  font-weight: bold;
  align-content: center;
  justify-content: center;
}

.intro {
  grid-area: 1/2/2/3;
  align-content: center;
  justify-content: center;
  font-size: 50px;
  color: midnightblue;
  cursor: pointer;
  text-shadow: 2px 2px 4px cornflowerblue;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  top: 20px;
  left: 50px;
  right: 50px;
  width: 90%;
  height: 90%;
  background-color: rgb(0, 0, 0, 0.5);
}

.contents {
  background-image: url(https://mcdn.wallpapersafari.com/medium/65/86/oBnycV.jpg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.close:hover {
  color: #888;
  float: right;
}
.close {
  cursor: grab;
  float: right;
  font-size: 20px;
}

#playername {
  grid-area: 1/5/2/6;
  border-color: aquamarine;
  text-align: center;
  font-size: 30px;
}

#btn {
  grid-area: 1/6/2/7;
  margin-top: 20px;
  height: 30px;
}

.wel {
  display: none;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100px;
  font-family: "Waltograph UI", sans-serif;
}

.welcome {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
  background-color: honeydew;
  font-size: 30px;
}

#start {
  margin: 50px;
}

.score {
  grid-area: 1/8/2/9;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  color: midnightblue;
  cursor: pointer;
  text-shadow: 2px 2px 4px cornflowerblue;
}

.tbl {
  display: none;
}

.tClass {
  border: 2px solid black;
  font-size: 30px;
  background-color: aquamarine;
  width: 200px;
}

.hide {
  grid-area: 1/8/2/9;
  align-content: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
